@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Light.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Bold.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Light.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Ultrabold.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Ultrabold.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Medium.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Ultralight.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Medium.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('~@/assets/fonts/PPHatton/PPHatton-Ultralight.woff2') format('woff2'),
        url('~@/assets/fonts/PPHatton/PPHatton-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
